﻿@inject PikTok.Services.PostService postService
@inject Microsoft.JSInterop.IJSRuntime JSRuntime
@model PikTok.Models.HomeViewModel
@using Microsoft.AspNetCore.Components.Web
@using PikTok.Components
@using PikTok.Models
@inject PikTok.Services.AuthService authService
@{
    ViewData["Title"] = "Messages";
    Layout = "~/Pages/Shared/_Layout.cshtml";


}
<div class="flex flex-col h-screen mx-auto border-gray-500 border-t messages_unopen" id="chats-display" style="overflow-y:auto">  
    
</div>



<div class="h-screen hidden" style="overflow-y:auto" id="message-display">
    <div>
        <!-- HEADING -->
        <div class="bg-yellow-400 fixed flex h-16 justify-between mt-12 pt-2 shadow-md text-white max-w-screen" style="top:0px; width: 100%; overscroll-behavior: none;">
            <!-- back button -->
            <button onclick="closeMessagesDiasplay()" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-12 h-12 my-1 text-green-100 ml-2">
                    <path class="text-green-100 fill-current" d="M9.41 11H17a1 1 0 0 1 0 2H9.41l2.3 2.3a1 1 0 1 1-1.42 1.4l-4-4a1 1 0 0 1 0-1.4l4-4a1 1 0 0 1 1.42 1.4L9.4 11z" />
                </svg>
            </button>
            <div>
                <img src="" class="w-12 h-12 rounded-full" alt="dp" id="chat-display-image" style="display:inline-block;" />
                <a class="text-green-100 font-bold text-lg tracking-wide" id="chat-display-name" style="display:inline-block; font-size: 25px; padding-left:20px;"></a>
            </div>
            <!-- 3 dots -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-dots-vertical w-8 h-8 mt-2 mr-2">
                <path class="text-green-100 fill-current" fill-rule="evenodd" d="M12 7a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 7a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 7a2 2 0 1 1 0-4 2 2 0 0 1 0 4z" />
            </svg>
        </div>
        <!-- MESSAGES -->
        <div class="mt-20 mb-16 w-100" id="messages-container" style="position: relative; bottom: 50px !important; padding-top:30px; z-index: -100;">
            <!-- SINGLE MESSAGE -->
            <div class="clearfix">
                <div class="bg-gray-400 w-3/4 mx-4 my-2 p-2 rounded-lg">this is a basic mobile chat layout, build with tailwind css</div>
            </div>
            <!-- SINGLE MESSAGE 3 -->
            <div class="clearfix">
                <div class="bg-yellow-400 float-right w-3/4 mx-4 my-2 p-2 rounded-lg clearfix">check my twitter to see when it will be released.</div>
            </div>
        </div>
    </div>
    <!-- MESSAGE INPUT AREA -->
    <div class="fixed w-full flex justify-between bg-green-100" style="bottom: 0px;">
        <textarea class="flex-grow m-2 py-2 px-4 mr-1 rounded-full border border-gray-300 bg-gray-200 resize-none" rows="1" placeholder="Message..." style="outline: none;" id="typedMessage"></textarea>
        <button class="m-2" style="outline: none;" id="typedMessageButton" onclick="">
            <svg class="svg-inline--fa text-green-400 fa-paper-plane fa-w-16 w-12 h-12 py-2 mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="paper-plane" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="currentColor" d="M476 3.2L12.5 270.6c-18.1 10.4-15.8 35.6 2.2 43.2L121 358.4l287.3-253.2c5.5-4.9 13.3 2.6 8.6 8.3L176 407v80.5c0 23.6 28.5 32.9 42.5 15.8L282 426l124.6 52.2c14.2 6 30.4-2.9 33-18.2l72-432C515 7.8 493.3-6.8 476 3.2z" />
            </svg>
        </button>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        GetChats();

        window.addEventListener('load', () => {
            var params = new URL(document.location).searchParams;
            var ExId = params.get('ExId');
            window.history.replaceState({}, document.title, "/Messages");
            if (ExId != null) {
                DisplayChatMessages(ExId);
            }
        });

    }, false);
</script>

<style>
    body {
        overflow: hidden;
    }
</style>