﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject PikTok.Services.PostService postService
@inject Microsoft.JSInterop.IJSRuntime JSRuntime
@model PikTok.Models.SearchViewModel
@using Microsoft.AspNetCore.Components.Web
@using PikTok.Components
@using PikTok.Models
@inject PikTok.Services.AuthService authService
@{
    ViewData["Title"] = "Messages";
    Layout = "~/Pages/Shared/_Layout.cshtml";


}

<form asp-controller="Search" asp-action="Search" method="get" enctype="multipart/form-data">
    <div class="pt-2 relative mx-auto text-gray-600">
        <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
               type="search" name="queryString" placeholder="Search">
        <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
            <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                 viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                 width="512px" height="512px">
            <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
          </svg>
        </button>
    </div>
</form>


<div class="flex flex-col h-screen mx-auto border-gray-500 border-t messages_unopen" id="search-results" style="overflow-y:auto">
    @foreach (ProfileModel result in Model.searchResults) {
        <div class="px-3 pt-1 mt-1 flex border-gray-500 border-b">
            <img src="@result.ProfilePicture.url" class=" w-12 h-12 rounded-full" alt="dp" />
            <div class="flex flex-wrap ml-4 pb-4 w-full">
                <div class="inline-flex justify-between w-full font-bold">
                    <a href="/@result.UserName">@result.UserName</a>
                    <span class="inline-flex items-center font-normal text-gray-400 text-xs">
                    </span>
                </div>
                <div class="inline-flex w-full text-sm text-gray-500"></div>
            </div>
        </div>
    }

</div>

<style>
    body {
        overflow: hidden;
    }
</style>